n8n_workflow/current_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "bestar-whatsapp",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -61424,
                32448
            ],
            "id": "9e07e384-a231-49b6-9ffb-9329556cfc40",
            "name": "Whatsapp",
            "webhookId": "d8fa5154-f391-43c2-ad0c-f5c7b3eb2737"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "803c1504-5ff1-4d19-8d9b-7c933466e48d",
                            "name": "User_phone_ID",
                            "value": "={{\n(() => {\n  const data = $json.body?.data?.key;\n  let rawNumber = '';\n  if (data?.remoteJidAlt?.includes('@s.whatsapp.net')) {\n    rawNumber = data.remoteJidAlt.split('@')[0];\n  } else if (data?.remote3lidAlt?.includes('@s.whatsapp.net')) {\n    rawNumber = data.remote3lidAlt.split('@')[0];\n  } else if (data?.remoteJid?.includes('@s.whatsapp.net')) {\n    rawNumber = data.remoteJid.split('@')[0];\n  } else {\n    rawNumber = (data?.remoteJid || '').split('@')[0];\n  }\n  rawNumber = rawNumber.trim();\n  if (rawNumber.startsWith('20')) {\n    return '0' + rawNumber.slice(2);\n  }\n  return '+' + rawNumber;\n})()\n}}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -61232,
                32448
            ],
            "id": "73071380-5867-45a4-a2b6-d0266178ad99",
            "name": "User Phone ID"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://access.mrailabs.com/api/check-access",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\"api_key\": \"Pi7HbQnp7lml2Ok30bBYq06dDbzD3oxxNEAdOQqeT38\", \"user_id\": $('User Phone ID').item.json.User_phone_ID, \"platform_type\": \"Whatsapp\", \"user_name\": $('Whatsapp').item.json.body.data.pushName}) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -61072,
                32448
            ],
            "id": "c8aa68a0-8ae2-4f7d-b476-7f6c323e3776",
            "name": "Access Control4"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "857ccdd3-662c-44c6-aff6-9660ffa633fe",
                            "leftValue": "={{ $json.access }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -60912,
                32448
            ],
            "id": "3d1cf79a-34b5-4ba0-a19c-e5fca0e0f34b",
            "name": "If8"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
                            "name": "Text",
                            "value": "={{ $('Whatsapp').first().json.body?.data?.message?.conversation ?? $('Whatsapp').first().json.body?.data?.message?.extendedTextMessage?.text ?? '' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -59504,
                32496
            ],
            "id": "03213dcd-2296-4b70-b91f-88ccf812ca3e",
            "name": "Text4"
        },
        {
            "parameters": {
                "url": "http://38.242.139.159:3005/api/quiz/active-question",
                "options": {
                    "timeout": 8000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -59168,
                32608
            ],
            "id": "30026fb4-c1ac-4449-b0a8-d4a89e6d11ad",
            "name": "Check Active Quiz",
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "qc1",
                            "leftValue": "={{ $json.has_active }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -59024,
                32608
            ],
            "id": "d81660b8-7e54-4a0e-871a-64ebe3df18cf",
            "name": "Has Active Quiz?"
        },
        {
            "parameters": {
                "url": "http://38.242.139.159:3005/api/checklist/settings",
                "options": {
                    "timeout": 8000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -58416,
                32624
            ],
            "id": "6da1bb4e-0de2-467d-a833-35864b9e19ff",
            "name": "Load Routing Settings",
            "continueOnFail": true
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "emd-001",
                            "name": "remoteJid",
                            "value": "={{ $('Whatsapp').first().json.body.data.key.remoteJid }}",
                            "type": "string"
                        },
                        {
                            "id": "emd-002",
                            "name": "sender_phone",
                            "value": "={{ (() => { const key = $('Whatsapp').first().json.body.data.key; if (key.participantAlt && key.participantAlt.includes('@s.whatsapp.net')) { return key.participantAlt.split('@')[0]; } if (key.participant && key.participant.includes('@s.whatsapp.net')) { return key.participant.split('@')[0]; } return key.remoteJid.split('@')[0]; })() }}",
                            "type": "string"
                        },
                        {
                            "id": "emd-003",
                            "name": "sender_name",
                            "value": "={{ $('Whatsapp').first().json.body.data.pushName || 'مجهول' }}",
                            "type": "string"
                        },
                        {
                            "id": "emd-004",
                            "name": "message_text",
                            "value": "={{ $('Memory + Model PreEnter2').first().json.Input }}",
                            "type": "string"
                        },
                        {
                            "id": "emd-005",
                            "name": "instance",
                            "value": "={{ $('Whatsapp').first().json.body.instance }}",
                            "type": "string"
                        },
                        {
                            "id": "emd-006",
                            "name": "is_group",
                            "value": "={{ $('Whatsapp').first().json.body.data.key.remoteJid.includes('@g.us') }}",
                            "type": "boolean"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -58592,
                32624
            ],
            "id": "f5d851e3-725c-47ad-92d0-70b314c8dbd6",
            "name": "Extract Message Data"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "vip-sw-react",
                                        "leftValue": "={{ $('Whatsapp').first().json.body.data.messageType }}",
                                        "rightValue": "reactionMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Reaction"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $('Whatsapp').first().json.body.data.messageType }}",
                                        "rightValue": "conversation",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "35588a02-6475-400d-b869-da05d7ed0f3a"
                                    },
                                    {
                                        "leftValue": "={{ $('Whatsapp').first().json.body.data.messageType }}",
                                        "rightValue": "extendedTextMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "ext-text-msg-001"
                                    }
                                ],
                                "combinator": "or"
                            },
                            "renameOutput": true,
                            "outputKey": "Text"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "83b9e800-99d0-4e31-8032-ae81aebe86d1",
                                        "leftValue": "={{ $('Whatsapp').first().json.body.data.messageType }}",
                                        "rightValue": "audioMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Audio"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "b70e2cfc-8de2-4f4c-a6c0-77c2028ba78f",
                                        "leftValue": "={{ $('Whatsapp').first().json.body.data.messageType }}",
                                        "rightValue": "imageMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Photos"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "8c9c8324-851d-4d68-ab24-34d545eb07da",
                                        "leftValue": "={{ $('Whatsapp').item.json.body.data.messageType }}",
                                        "rightValue": "stickerMessage",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Stickers"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -60640,
                32384
            ],
            "id": "03046038-6a7a-454e-acbf-edfe83f8a624",
            "name": "Switch3",
            "alwaysOutputData": false,
            "executeOnce": false
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a63db671-77e6-4370-b11f-92fc2767ee58",
                            "name": "Memory Key",
                            "value": "={{ $('User Phone ID').item.json.User_phone_ID }}",
                            "type": "string"
                        },
                        {
                            "id": "a12d20c8-7931-470c-a7df-70473f0be258",
                            "name": "Input",
                            "value": "={{ $if($('Text4').isExecuted, $('Text4').first().json.Text, \n   $if($('Voice').isExecuted, $('Voice').first().json.Voice, \n   $if($('image').isExecuted, 'العميل بعت صورة. وصف الصورة: ' + $('image').first().json.image, \n   $if($('Stickers').isExecuted, 'العميل بعت sticker: ' + $('Stickers').first().json.Stickers, \n   'الضيف بعت تفاعل/ريأكشن على الدعوة')))) }}",
                            "type": "string"
                        },
                        {
                            "id": "f71a20c2-20a8-4a0a-96ed-17dfc6cdfead",
                            "name": "image_base64",
                            "value": "={{ $if($('image').isExecuted, 'data:image/jpeg;base64,' + $('Get Image Base64').first().json.data.base64, '') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -59328,
                32608
            ],
            "id": "f61db1fa-645a-48d2-a8cf-cc4bf44bd943",
            "name": "Memory + Model PreEnter2"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "b1b5a783-b19c-427d-bcce-8ba5dfb9c60c",
                            "leftValue": "={{ $('Extract Message Data').item.json.remoteJid }}",
                            "rightValue": "@g.us",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -58240,
                32624
            ],
            "id": "65a5f3e5-b25d-427b-8a53-211cca2d8d77",
            "name": "Is Group Message?"
        },
        {
            "parameters": {
                "url": "=http://38.242.139.159:3005/api/vip/check/{{ $(\"User Phone ID\").item.json.User_phone_ID }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -58080,
                32720
            ],
            "id": "4bbf6230-9f98-4a69-b61a-0094a7a8fee2",
            "name": "Check Is VIP",
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "vip-cond-001",
                            "leftValue": "={{ $json.is_vip }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -57920,
                32720
            ],
            "id": "c989c2b6-1233-4f9b-a13d-8da5b96f6956",
            "name": "Is VIP?"
        },
        {
            "parameters": {
                "url": "http://38.242.139.159:3005/api/vip/settings",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -57552,
                32096
            ],
            "id": "f8a8cfd1-92ae-4d3a-8ae1-4a5619c6c8f8",
            "name": "Get VIP Settings"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://mrai-openai.openai.azure.com/openai/deployments/gpt-4.1-mini/chat/completions?api-version=2024-08-01-preview",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api-key",
                            "value": "5zSQL871XpyGNXgzSx0LPwzkCrPqYj52L5ODHMA0bs6stZlhi35xJQQJ99BKACfhMk5XJ3w3AAABACOGk5RF"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"model\":\"gpt-4.1-mini\",\"messages\":[{\"role\":\"system\",\"content\":\"\\u0623\\u0646\\u062a \\u0645\\u0633\\u0627\\u0639\\u062f \\u0645\\u0647\\u0630\\u0628 \\u0648\\u0631\\u0627\\u0642\\u064a \\u062c\\u062f\\u0627\\u064b \\u0644\\u0625\\u062f\\u0627\\u0631\\u0629 \\u062f\\u0639\\u0648\\u0627\\u062a \\u0643\\u0628\\u0627\\u0631 \\u0627\\u0644\\u0632\\u0648\\u0627\\u0631 \\u0644\\u0641\\u0639\\u0627\\u0644\\u064a\\u0629 \\u062e\\u0627\\u0635\\u0629.\\n\\n\\ud83d\\udccb \\u0645\\u0639\\u0644\\u0648\\u0645\\u0627\\u062a \\u0627\\u0644\\u0625\\u064a\\u0641\\u0646\\u062a:\\n{{ $('Get VIP Settings').first().json.inquiry_reply }}\\n\\n\\ud83d\\udc4d \\u0623\\u0633\\u0644\\u0648\\u0628 \\u0627\\u0644\\u0631\\u062f \\u0639\\u0644\\u0649 \\u0627\\u0644\\u0631\\u064a\\u0623\\u0643\\u0634\\u0646:\\n{{ $('Get VIP Settings').first().json.reaction_reply }}\\n\\n\\u2705 \\u0623\\u0633\\u0644\\u0648\\u0628 \\u0631\\u0633\\u0627\\u0644\\u0629 \\u0627\\u0644\\u0642\\u0628\\u0648\\u0644:\\n{{ $('Get VIP Settings').first().json.accept_reply }}\\n\\n\\ud83d\\ude14 \\u0623\\u0633\\u0644\\u0648\\u0628 \\u0631\\u0633\\u0627\\u0644\\u0629 \\u0627\\u0644\\u0631\\u0641\\u0636:\\n{{ $('Get VIP Settings').first().json.decline_reply }}\\n\\n\\ud83d\\udc64 \\u0627\\u0633\\u0645 \\u0627\\u0644\\u0636\\u064a\\u0641: {{ $('Check Is VIP').first().json.guest.name }}\\n\\n\\u0645\\u0647\\u0645\\u062a\\u0643:\\n1. \\u0635\\u0646\\u0641 \\u0631\\u062f \\u0627\\u0644\\u0636\\u064a\\u0641 \\u0644\\u0648\\u0627\\u062d\\u062f \\u0645\\u0646 3 \\u062a\\u0635\\u0646\\u064a\\u0641\\u0627\\u062a:\\n   - will_attend: \\u0644\\u0648 \\u0642\\u0627\\u0644 \\u0647\\u062d\\u0636\\u0631 \\u0623\\u0648 \\u0625\\u0646 \\u0634\\u0627\\u0621 \\u0627\\u0644\\u0644\\u0647 \\u0623\\u0648 \\u0645\\u0648\\u0627\\u0641\\u0642\\n   - not_attending: \\u0644\\u0648 \\u0642\\u0627\\u0644 \\u0645\\u0634 \\u0647\\u0642\\u062f\\u0631 \\u0623\\u0648 \\u0645\\u0634\\u063a\\u0648\\u0644 \\u0623\\u0648 \\u0645\\u0639\\u0644\\u0634\\n   - inquiring: \\u0644\\u0648 \\u0633\\u0623\\u0644 \\u0639\\u0646 \\u062a\\u0641\\u0627\\u0635\\u064a\\u0644 \\u0623\\u0648 \\u0645\\u0643\\u0627\\u0646 \\u0623\\u0648 \\u0648\\u0642\\u062a\\n2. \\u0627\\u0643\\u062a\\u0628 \\u0631\\u062f \\u0645\\u0647\\u0630\\u0628 \\u0648\\u0645\\u062d\\u062a\\u0631\\u0641 \\u064a\\u0646\\u0627\\u0633\\u0628 \\u0627\\u0644\\u0645\\u0648\\u0642\\u0641\\n3. \\u0627\\u0633\\u062a\\u062e\\u062f\\u0645 \\u0627\\u0633\\u0645 \\u0627\\u0644\\u0636\\u064a\\u0641\\n4. \\u0644\\u0648 \\u0628\\u064a\\u0633\\u0623\\u0644 \\u2192 \\u0631\\u062f \\u0645\\u0646 \\u0645\\u0639\\u0644\\u0648\\u0645\\u0627\\u062a \\u0627\\u0644\\u0625\\u064a\\u0641\\u0646\\u062a\\n5. \\u0644\\u0648 \\u0645\\u0648\\u0627\\u0641\\u0642 \\u2192 \\u0631\\u062f \\u0628\\u0623\\u0633\\u0644\\u0648\\u0628 \\u0631\\u0633\\u0627\\u0644\\u0629 \\u0627\\u0644\\u0642\\u0628\\u0648\\u0644\\n6. \\u0644\\u0648 \\u0645\\u0639\\u062a\\u0630\\u0631 \\u2192 \\u0631\\u062f \\u0628\\u0623\\u0633\\u0644\\u0648\\u0628 \\u0631\\u0633\\u0627\\u0644\\u0629 \\u0627\\u0644\\u0631\\u0641\\u0636\\n7. \\u0636\\u064a\\u0641 \\u0625\\u064a\\u0645\\u0648\\u062c\\u064a \\u0645\\u0646\\u0627\\u0633\\u0628\\u0629\\n\\n\\u26a0\\ufe0f \\u0631\\u062f \\u0628\\u0640 JSON \\u0641\\u0642\\u0637:\\n{\\\"intent\\\": \\\"will_attend\\\", \\\"reply\\\": \\\"\\u0627\\u0644\\u0631\\u062f \\u0627\\u0644\\u0645\\u0646\\u0633\\u0642 \\u0647\\u0646\\u0627\\\"}\\n\\n\\u0645\\u0645\\u0646\\u0648\\u0639 \\u062a\\u0643\\u062a\\u0628 \\u0623\\u064a \\u062d\\u0627\\u062c\\u0629 \\u0628\\u0631\\u0647 \\u0627\\u0644\\u0640 JSON.\"},{\"role\":\"user\",\"content\":\"{{ $('Whatsapp').first().json.body.data.message.conversation ?? $('Whatsapp').first().json.body.data.message.extendedTextMessage.text ?? '\\u0627\\u0644\\u0636\\u064a\\u0641 \\u0628\\u0639\\u062a \\u062a\\u0641\\u0627\\u0639\\u0644/\\u0631\\u064a\\u0623\\u0643\\u0634\\u0646/\\u0633\\u062a\\u064a\\u0643\\u0631/\\u0635\\u0648\\u0631\\u0629 \\u0639\\u0644\\u0649 \\u0627\\u0644\\u062f\\u0639\\u0648\\u0629' }}\"}],\"max_tokens\":300,\"temperature\":0.7}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -57216,
                32192
            ],
            "id": "186bfee9-a5ba-4419-b624-38f93b33bda5",
            "name": "Classify VIP Intent"
        },
        {
            "parameters": {
                "jsCode": "const raw = $input.first().json.choices[0].message.content;\nlet intent = \"inquiring\";\nlet reply = \"\";\ntry {\n  const parsed = JSON.parse(raw.trim());\n  intent = parsed.intent || \"inquiring\";\n  reply = parsed.reply || \"\";\n} catch(e) {\n  if (raw.includes(\"will_attend\")) intent = \"will_attend\";\n  else if (raw.includes(\"not_attending\")) intent = \"not_attending\";\n  else intent = \"inquiring\";\n  reply = raw.replace(/[{}\"\\\\]/g, \"\").trim();\n}\nreturn [{ json: { intent, reply } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -56976,
                32192
            ],
            "id": "c10992be-843f-48da-ae7b-75fd04d4c21f",
            "name": "Parse VIP Intent"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "vip-int-attend",
                                        "leftValue": "={{ $json.intent }}",
                                        "rightValue": "will_attend",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Will Attend"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "vip-int-not",
                                        "leftValue": "={{ $json.intent }}",
                                        "rightValue": "not_attending",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Not Attending"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "vip-int-inq",
                                        "leftValue": "={{ $json.intent }}",
                                        "rightValue": "inquiring",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Inquiring"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                -56736,
                32192
            ],
            "id": "1ca9ce50-f5af-4061-b45f-550c0ce5c435",
            "name": "VIP Intent Router"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://38.242.139.159:3005/api/vip/webhook/status?phone={{ $(\"User Phone ID\").item.json.User_phone_ID }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"status\": \"will_attend\", \"source\": \"n8n\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -56496,
                32032
            ],
            "id": "bf8edbc9-e048-494c-80bb-3ba38c517cfa",
            "name": "Update VIP Will Attend"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://38.242.139.159:3005/api/vip/webhook/status?phone={{ $(\"User Phone ID\").item.json.User_phone_ID }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"status\": \"not_attending\", \"source\": \"n8n\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -56496,
                32192
            ],
            "id": "6cae5eaf-2b7d-471f-bb19-e24daa64c1e9",
            "name": "Update VIP Not Attending"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://38.242.139.159:3005/api/vip/webhook/status?phone={{ $(\"User Phone ID\").item.json.User_phone_ID }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"status\": \"inquiring\", \"source\": \"n8n\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -56496,
                32368
            ],
            "id": "becfc181-3c1d-48b7-a835-36fd9f1949e7",
            "name": "Update VIP Inquiring"
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "={{ $(\"Whatsapp\").first().json.body.instance }}",
                "remoteJid": "={{ $(\"Whatsapp\").first().json.body.data.key.remoteJid }}",
                "messageText": "={{ $('Parse VIP Intent').first().json.reply }}",
                "options_message": {}
            },
            "type": "n8n-nodes-evolution-api-english.evolutionApi",
            "typeVersion": 1,
            "position": [
                -56256,
                32192
            ],
            "id": "3410dfda-a03e-4223-8535-90f474f56ece",
            "name": "Send VIP AI Reply",
            "credentials": {
                "evolutionApi": {
                    "id": "IGwXyU5Jbou5S5V3",
                    "name": "Business Number"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "936728e9-288e-4479-aab6-ed9efc04f469",
                            "leftValue": "={{ $('Whatsapp').first().json.body.data.messageType }}",
                            "rightValue": "reactionMessage",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -57392,
                32096
            ],
            "id": "64ec3e5d-ea3b-413e-bf61-27413d0a6878",
            "name": "Is Reacted?"
        }
    ],
    "connections": {
        "Whatsapp": {
            "main": [
                [
                    {
                        "node": "User Phone ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "User Phone ID": {
            "main": [
                [
                    {
                        "node": "Access Control4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Access Control4": {
            "main": [
                [
                    {
                        "node": "If8",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If8": {
            "main": [
                [
                    {
                        "node": "Switch3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Text4": {
            "main": [
                [
                    {
                        "node": "Memory + Model PreEnter2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Active Quiz": {
            "main": [
                [
                    {
                        "node": "Has Active Quiz?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Active Quiz?": {
            "main": [
                [],
                [
                    {
                        "node": "Extract Message Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Routing Settings": {
            "main": [
                [
                    {
                        "node": "Is Group Message?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Message Data": {
            "main": [
                [
                    {
                        "node": "Load Routing Settings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch3": {
            "main": [
                [],
                [
                    {
                        "node": "Text4",
                        "type": "main",
                        "index": 0
                    }
                ],
                [],
                [],
                []
            ]
        },
        "Memory + Model PreEnter2": {
            "main": [
                [
                    {
                        "node": "Check Active Quiz",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Group Message?": {
            "main": [
                [],
                [
                    {
                        "node": "Check Is VIP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Is VIP": {
            "main": [
                [
                    {
                        "node": "Is VIP?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is VIP?": {
            "main": [
                [
                    {
                        "node": "Get VIP Settings",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Get VIP Settings": {
            "main": [
                [
                    {
                        "node": "Is Reacted?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Classify VIP Intent": {
            "main": [
                [
                    {
                        "node": "Parse VIP Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse VIP Intent": {
            "main": [
                [
                    {
                        "node": "VIP Intent Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "VIP Intent Router": {
            "main": [
                [
                    {
                        "node": "Update VIP Will Attend",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update VIP Not Attending",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update VIP Inquiring",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update VIP Will Attend": {
            "main": [
                [
                    {
                        "node": "Send VIP AI Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update VIP Not Attending": {
            "main": [
                [
                    {
                        "node": "Send VIP AI Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update VIP Inquiring": {
            "main": [
                [
                    {
                        "node": "Send VIP AI Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Reacted?": {
            "main": [
                [],
                [
                    {
                        "node": "Classify VIP Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Whatsapp": [
            {
                "headers": {
                    "host": "n8n.growhubeg.com",
                    "user-agent": "axios/1.13.2",
                    "content-length": "1486",
                    "accept": "application/json, text/plain, */*",
                    "accept-encoding": "gzip, br",
                    "cdn-loop": "cloudflare; loops=1",
                    "cf-connecting-ip": "38.242.139.159",
                    "cf-ipcountry": "FR",
                    "cf-ray": "9d10bc9b1c7dd269-FRA",
                    "cf-visitor": "{\"scheme\":\"https\"}",
                    "cf-warp-tag-id": "0dc5c4f9-8f5e-4f73-9c01-57b1ac5e4d79",
                    "connection": "keep-alive",
                    "content-type": "application/json",
                    "x-forwarded-for": "38.242.139.159",
                    "x-forwarded-proto": "https"
                },
                "params": {},
                "query": {},
                "body": {
                    "event": "messages.upsert",
                    "instance": "Mahmoud Magdy",
                    "data": {
                        "key": {
                            "remoteJid": "201278453450@s.whatsapp.net",
                            "remoteJidAlt": "201278453450@s.whatsapp.net",
                            "fromMe": false,
                            "id": "ACFBF64EE77F7AB3583A0050298CE062",
                            "participant": "",
                            "addressingMode": "lid"
                        },
                        "pushName": "Fares Hosni",
                        "status": "DELIVERY_ACK",
                        "message": {
                            "conversation": "ممكن توضحلى شوية تفاصيل عن الحدث",
                            "messageContextInfo": {
                                "threadId": [],
                                "deviceListMetadata": {
                                    "senderKeyIndexes": [],
                                    "recipientKeyIndexes": [],
                                    "senderKeyHash": {
                                        "0": 66,
                                        "1": 207,
                                        "2": 9,
                                        "3": 48,
                                        "4": 150,
                                        "5": 89,
                                        "6": 248,
                                        "7": 151,
                                        "8": 65,
                                        "9": 44
                                    },
                                    "senderTimestamp": {
                                        "low": 1771595807,
                                        "high": 0,
                                        "unsigned": true
                                    },
                                    "recipientKeyHash": {
                                        "0": 245,
                                        "1": 88,
                                        "2": 67,
                                        "3": 210,
                                        "4": 45,
                                        "5": 245,
                                        "6": 224,
                                        "7": 246,
                                        "8": 19,
                                        "9": 227
                                    },
                                    "recipientTimestamp": {
                                        "low": 1771324948,
                                        "high": 0,
                                        "unsigned": true
                                    }
                                },
                                "deviceListMetadataVersion": 2,
                                "messageSecret": {
                                    "0": 46,
                                    "1": 243,
                                    "2": 212,
                                    "3": 124,
                                    "4": 127,
                                    "5": 214,
                                    "6": 40,
                                    "7": 99,
                                    "8": 69,
                                    "9": 149,
                                    "10": 113,
                                    "11": 149,
                                    "12": 104,
                                    "13": 189,
                                    "14": 77,
                                    "15": 217,
                                    "16": 73,
                                    "17": 232,
                                    "18": 75,
                                    "19": 79,
                                    "20": 193,
                                    "21": 77,
                                    "22": 107,
                                    "23": 164,
                                    "24": 177,
                                    "25": 31,
                                    "26": 137,
                                    "27": 210,
                                    "28": 201,
                                    "29": 14,
                                    "30": 198,
                                    "31": 209
                                }
                            }
                        },
                        "messageType": "conversation",
                        "messageTimestamp": 1771619163,
                        "instanceId": "f9908d1b-29f5-441b-a843-dd5021dc0370",
                        "source": "android"
                    },
                    "destination": "https://n8n.growhubeg.com/webhook/bestar-whatsapp",
                    "date_time": "2026-02-20T17:26:03.343Z",
                    "sender": "201557368364@s.whatsapp.net",
                    "server_url": "http://localhost:8080",
                    "apikey": "B1CEB4BA7A4D-4316-AC23-B1E79C49F557"
                },
                "webhookUrl": "https://n8n.growhubeg.com/webhook/bestar-whatsapp",
                "executionMode": "production"
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "8df4082ac81111d2321c538ef34013493a96dd3b14b3af10e13ce9c3849e34d3"
    }
}